
/jslint.vs/JSLint/bin/JSLint.AddIn
/jslint.vs/JSLint/bin/JSLint.dll
/jslint.vs/JSLint/bin/JSLint.dll.config
/jslint.vs/JSLint/bin/JSLint.pdb
/jslint.vs/JSLint/obj/Debug/JSLint.CommandBar.resources
/jslint.vs/JSLint/obj/Debug/JSLint.OptionsForm.resources
/jslint.vs/JSLint/obj/Debug/JSLint.csproj.FileListAbsolute.txt
/jslint.vs/JSLint/obj/Debug/JSLint.csproj.GenerateResource.Cache
/jslint.vs/JSLint/obj/Debug/JSLint.csproj.ResolveComReference.cache
/jslint.vs/JSLint/obj/Debug/JSLint.dll
/jslint.vs/JSLint/obj/Debug/JSLint.pdb